server {
listen 80;
listen [::]:80;
server_name {{ item }};
root /var/www/{{ item }};
index index.html;
try_files $uri /index.html;
}
upstream test {
{% for item in upstream.values() %}
server {{ item.server }};
{% endfor %}
}
